.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 2rem 0 0 0;
    text-align: center;
    font-weight: 900;
  }

  

  